@media only screen
and (max-width : 1160px) {

.main-content-item--left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.main-content-item--right {
  -webkit-box-flex: 4;
      -ms-flex: 4 4 70%;
          flex: 4 4 70%;
}

}



@media only screen
and (max-width : 850px) {

.item--null,
.item--image,
.item--image .item--caption {
  width: 135px;
  height: 135px;
}

.canvas-item__container.info {
	width: 100%;
}

}


@media only screen
and (max-width : 767px) {

.w-1of2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.w-1of3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

}

@media only screen
and (max-width : 725px) {

.item--null,
.item--image,
.item--image .item--caption {
  width: 120px;
  height: 120px;
}

}



@media only screen
and (max-width : 736px)
and (orientation : landscape) {

}


@media only screen
/* and (min-width: 320px) */
and (max-width : 736px)
and (orientation : portrait) {

}




@media only screen
and (max-width : 680px) {

html {
	font-size: 14px !important;
}

body {
  line-height: 1.3;
}

.slide__container {
  width: 2000%;
}

.slide-item {
  font-size: 1em !important;
  padding-left: 200px;
}

.nav-link,
.project-title,
.up--title.large,
.lc--title.large {
	font-size: 1.1em !important;
}

.header-content__container {
  padding: 15px;
}

.spacer {
	margin: 15px;
}

.header-item--left {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 30%;
	        flex: 0 0 30%;
}

.header-item--right {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 70%;
	        flex: 0 0 70%;
}

.text-block {
	padding-bottom: 10px;
}

.item--null,
.item--image,
.item--image .item--caption {
  width: 175px;
  height: 175px;
}

.static--thumbnail img {
  width: 100px;
  right: 15px;
  margin-top: 15px;
}

.op-sketch {
	height: 850px;
}

/* Show mobile work navigation */

.main-content-item--left {
	display: none;
}

.mobile-nav-link {
	display: inline-block;
}

.header-item--right .nav-link {
  margin-left: 20px;
}

.side-nav-item__link,
.work-category {
	font-size: 1.1em;
}

}



@media only screen
and (max-width : 600px) {

.item--null,
.item--image,
.item--image .item--caption {
  width: 150px;
  height: 150px;
}



}


@media only screen
and (max-width : 530px) {

.item--null,
.item--image,
.item--image .item--caption {
  width: 135px;
  height: 135px;
}

}


@media only screen
and (max-width : 450px) {

.item--null,
.item--image,
.item--image .item--caption {
  width: 155px;
  height: 155px;
}

}
