/* CATCH ALL */

* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
	cursor:url('../images/utilities/cursor.png'), auto  !important;
  background-color: white;
  color: black;
  font-family: 'Nimbus Sans L', arial, helvetica, sans-serif;
  line-height: 1.6;
}

.fixed-position {
  position: fixed;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
.nav-link:hover,
.text-link:hover,
span.filter:hover {
  cursor:url('../images/utilities/cursor_link.png'), auto  !important;
}

.ital {
	font-style: italic;
}

.glyph {
	font-feature-settings: "006F" 1;
}

.nav-link,
.project-title,
.up--title {
  text-transform: uppercase !important;
}

.nav-link,
.project-title,
.up--title.large,
.lc--title.large {
	font-size: 1.3em !important;
	line-height: 1.4;
}

.side-nav-item__link:hover {
	text-transform: uppercase;
}




/* HEADER */

.header-content__container {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 15px;
  background-color: white;
  border-bottom: 1.2px solid black;
  position: relative;
}

.header-item--right .nav-link {
  margin-left: 35px;
}

.flex-item--left {
  text-align: left;
}

.flex-item--right {
  text-align: right;
}

.header-item--left {
  flex: 0 0 25%;
}

.header-item--right {
  flex: 0 0 75%;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  background-color: white;
  border-bottom: 1.2px solid black;
}

.slide__container {
  overflow:hidden;
  width: 1000%;
  margin: 5px 0 5px 0;
}

.slide-item {
	font-size: 12px;
	text-transform: uppercase;
  list-style: none;
  display: inline-block !important;
  padding-left: 500px;
}

.side-nav-item__link {
	padding-bottom: 5px;
	line-height: 1.3;
}


/* MOBILE - WORK NAV POPUP */

.work-item--left {
  flex: 0 0 65%;
}

.work-item--right {
  flex: 0 0 35%;
}

.mobile-nav-link {
	display: none;
}

.popup__container--work-nav {
	padding: 15px;
  height: 100%;
  display: none;
  z-index: 99999;
  position: fixed;
	width: 100%;
	overflow: scroll !important;
}




/* MAIN CONTENT */

.main-content__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

.main-content__container .sidebar__container,
.main-content__container .canvas__container {
	height: 92vh;
	overflow: scroll;
}

.main-content-item--left {
  flex: 1 1 20%;
}

.main-content-item--right {
  flex: 4 4 80%;
}

.sidebar__container {
  display: inline-block;
  left: 0;
  background-color: white;
  border-right: 1.2px solid black;
}

.canvas__container {

}

.sidebar__container::-webkit-scrollbar,
.canvas__container::-webkit-scrollbar,
.popup__container--work-nav::-webkit-scrollbar {
	display: none !important;
}

.sidebar__container,
.canvas__container {
	-ms-overflow-style: none;
  scrollbar-width: none;
}

.side-nav-item__container,
.canvas-item__container {
  width: 100%;
}

.canvas-item__container.project,
.canvas-item__container.text {
	width: 70%;
	margin-bottom: 50px;
}

.spacer {
  margin: 15px;
}

.text-block,
.media-block {
	width: 100%;
}

.text-block,
.media-block {
	padding-bottom: 15px;
}

.media-block img,
.media-block video {
	display: block;
	width: 100%;
}

.grid {
	display: flex;
	flex-wrap:wrap;
}

.col {
	padding-right: 7px;
	padding-bottom: 7px;
}

.col:nth-last-child(1),
.text-block:nth-last-child(1) {
	padding-bottom: 0px;
}

.w-1of1 {
	flex:0 0 100%;
}

.w-1of2 {
	flex:0 0 50%;
}

.w-1of3 {
	flex:0 0 33.33%;
}

.w-2of3 {
	flex:0 0 66.66%;
}

.w-1of4 {
	flex:0 0 25%;
}

.w-3of4 {
	flex:0 0 75%;
}


/* HOMPAGE */

.op-sketch {
	width: 101%;
	height: 700px;
	margin-left: -1%;
	margin-top: -1%;
}

.canvas__container.home {
	overflow: hidden !important;
}


/* PROJECT PAGE */

.static--thumbnail img{
	margin-top: 15px;
	right: 15px;
	position: fixed;
	width: 120px;
}

.static--footer {
	position: fixed;
	right: 15px;
	bottom: 15px;
}



/* PROJECT INDEX – FILTER */

span.filter:hover {
  cursor:url('../images/utilities/cursor_link.png'), auto  !important;
}

span.category {
	padding-right: 6px;
}

.highlight {
  font-style: italic;
}

/* span.all--filter {
  padding-left: 10px;
} */

/* .index-list--grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
} */

.wrapper--grid {
	margin-bottom: 15px;
  /* background-color: grey; */
  /* display: flex;
  flex-wrap: wrap; */
  /* column-gap: 15px; */
  /* height: 1500px; */
}

.index-item {
  /* background-color: pink; */
  display: inline-block;
	vertical-align: top;
}

.item--null,
.item--image,
.item--caption {
  width: 165px;
  height: 165px;
	margin-right: 15px;
	margin-bottom: 15px;
	/* border: 1.2px solid black; */
}


.item--null {
	border: 1.2px solid black;
  display: none;
  background: linear-gradient(to top right, #fff calc(50% - .8px), black, #fff calc(50% + .8px) )
}

.item--image img {
  width: 100%;
  height: 100%;
	cursor:url('../images/utilities/cursor_link.png'), auto  !important;
}


.show {
  display: block;
}

.hide {
  display: none;
}


/* .item--image:hover .item--caption {
  opacity: 1;
  visibility: visible;
} */

.item--image {
  box-sizing: border-box;
	/* text-align: center; */
  /* opacity: 0;
  position: absolute;
  visibility: hidden; */
}

.item--caption p {
	text-align: center;
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

.wrapper {
	position: relative;
}

.wrapper .item--caption {
	display: none;
}

.wrapper:hover .item--caption {
	display: block;
}

.wrapper:hover img {
	display: none;
}
