
@media only screen
and (max-width : 1160px) {

.main-content-item--left {
  flex: 1 1 30%;
}

.main-content-item--right {
  flex: 4 4 70%;
  /* background-color: green; */
}

}


@media only screen
and (max-width : 1200px) {


}


@media only screen
and (max-width : 1050px) {


}


@media only screen
and (max-width : 940px) {


}


@media only screen
and (max-width : 850px) {

.item--null,
.item--image,
.item--image .item--caption {
  width: 135px;
  height: 135px;
}

.canvas-item__container.text {
	width: 100%;
}

.canvas-item__container.project,
.canvas-item__container.text {
	margin-bottom: 80px;
}

}

@media only screen
and (max-width : 832px) {



}


@media only screen
and (max-width : 767px) {

.w-1of2 {
  flex: 0 0 100%;
}


}

@media only screen
and (max-width : 725px) {

.item--null,
.item--image,
.item--image .item--caption {
  width: 120px;
  height: 120px;
}

}



@media only screen
and (max-width : 736px)
and (orientation : landscape) {

}


@media only screen
/* and (min-width: 320px) */
and (max-width : 736px)
and (orientation : portrait) {

}


@media only screen
and (max-device-width : 680px) {



}



@media only screen
and (max-width : 680px) {

html {
	font-size: 10px !important;
}

body {
  line-height: 1.3;
}


/* li.slide-item {
  font-size: 10px !important;
  background-color: blue;
} */

.header-content__container {
  padding: 15px;
}

.spacer {
	margin: 15px;
}

.header-item--left {
	flex: 0 0 30%;
}

.header-item--right {
	flex: 0 0 70%;
}

.text-block {
	padding-bottom: 10px;
}

.item--null,
.item--image,
.item--image .item--caption {
  width: 175px;
  height: 175px;
}

.static--thumbnail img {
  width: 100px;
  right: 15px;
  margin-top: 15px;
}

.static--footer {
  right: 15px;
  bottom: 15px;
}

/* Show mobile work navigation */

.main-content-item--left {
	display: none;
}

.mobile-nav-link {
	display: inline-block;
}

.header-item--right .nav-link {
  margin-left: 20px;
}

.side-nav-item__link,
.work-category {
	font-size: 1.3em;
}


}

@media only screen
and (max-width : 600px) {

.item--null,
.item--image,
.item--image .item--caption {
  width: 150px;
  height: 150px;
}

}


@media only screen
and (max-width : 530px) {

.item--null,
.item--image,
.item--image .item--caption {
  width: 135px;
  height: 135px;
}

}




@media only screen
and (max-width : 450px) {

.item--null,
.item--image,
.item--image .item--caption {
  width: 155px;
  height: 155px;
}


}
